* {
	height: 200vh;
}

#container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	width: 150px;

	border-radius: 3em;
	position: fixed;
}

#overlay {
	height: 70px;
	width: 140px;
	background: rgb(255, 255, 255);

	border-radius: 3em;
	position: fixed;
}
